body {
   font-size: 16px;
}
main {
   background-color: yellow;
   height: 1200px;
}

/* FIXED NAVIGATION BAR */
nav {
   background-color: #ffffff;
   position: fixed;
   left: 0;
   top: 0;
   width: 100%;
   z-index: 2;
}

#logo {
   height: 70px;
   line-height: 70px;
   padding-left: 0;
}
#logo img {
   width: 160px;
   vertical-align: middle;
}

#menu-left,
#menu-right {
   height: 70px;
   display: none;
}

.list-inline {
   margin-bottom: 0;
}
.list-inline li {
   line-height: 70px;
}
.list-inline li a {
   vertical-align: middle;
   text-decoration: none;
   color: black;
}
.list-inline li a:hover {
   color: #227cfe;
}

#sing-up-btn {
   color: #227cfe;
   padding: 10px;
   border: 1px solid #227cfe;
   border-radius: 5px;
   font-size: 14px;
}
#sing-up-btn:hover {
   color: #ffffff;
   background-color: #227cfe;
}

#collapse-icon {
   color: #227cfe;
   height: 70px;
}
#collapse-icon i {
   font-size: 18px;
   line-height: 70px;
   vertical-align: middle;
   padding-right: 20px;
}
/* /FIXED NAVIGATION BAR */

/* JUMBOTRON  */
#jumbotron {
   margin-top: 70px;
   /* height: 100%; */
   background-image: url("https://www.digitalocean.com/static/bg-home-hero-3-bb4b33b77274db09b969f629ad81c4d5.svg");
   background-size: cover;
   background-position: center;
}
#jumbotron .container {
   padding: 50px 10px;
}
#jumbotron-title h1 {
   color:white;
}
#jumbotron-title p {
   color: #90B0FF;
   font-size: 24px;
}



#login-card {
   background-color: white;
   border-radius: 6px;
   padding: 20px 10px;
}
#login-card h2 {
   color: black;
}
#login-card h2:nth-child(2) {
   color: #056AFF;
}

#create-account-btn {
   color: white;
   background-color: #579AFF;
   margin-bottom: 10px;
}

#sign-google-btn {
   color: #6b6b6b;
   font-weight: bold;
   margin-bottom: 10px;
   border: 1px solid lightgray;
}
#sign-google-btn img {
   display: inline-block;
   height: 20px;
   float: left;
}

#login-card p {
   font-size: 12px;
   color: #8690A6;
}

#login-card p a {
   color: #056AFF;
   text-decoration: underline;
}







@media screen and (min-width:1200px) {

   /* FIXED NAVIGATION BAR */
   #menu-right,
   #menu-left  {
      display: block;
   }

   #collapse-icon {
      display: none;
   }
   /* /FIXED NAVIGATION BAR */

   #jumbotron .container {
      padding: 50px 0;
   }

   #jumbotron-title h1 {
      font-size: 72px;
   }
}
