body {
   font-size: 16px;
}


main p {
   color: #5C6A88;
}

/* FIXED NAVIGATION BAR */
nav {
   background-color: #ffffff;
   position: fixed;
   left: 0;
   top: 0;
   width: 100%;
   z-index: 2;
}

#logo {
   height: 70px;
   line-height: 70px;
   padding-left: 0;
}
#logo img {
   width: 160px;
   vertical-align: middle;
   padding-left: 10px;
}

#menu-left,
#menu-right {
   height: 70px;
   display: none;
}

.list-menu {
   margin-bottom: 0;
}
.list-menu li {
   line-height: 70px;
}
.list-menu li a {
   vertical-align: middle;
   text-decoration: none;
   color: black;
}
.list-menu li a:hover {
   color: #227cfe;
}

#sing-up-btn {
   color: #227cfe;
   padding: 10px;
   border: 1px solid #227cfe;
   border-radius: 5px;
   font-size: 14px;
}
#sing-up-btn:hover {
   color: #ffffff;
   background-color: #227cfe;
}

#collapse-icon {
   color: #227cfe;
   height: 70px;
}
#collapse-icon i {
   font-size: 18px;
   line-height: 70px;
   vertical-align: middle;
   padding-right: 20px;
}
/* /FIXED NAVIGATION BAR */

/* JUMBOTRON  */
#jumbotron {
   margin-top: 70px;
   /* height: 100%; */
   background-image: url("https://www.digitalocean.com/static/bg-home-hero-3-bb4b33b77274db09b969f629ad81c4d5.svg");
   background-size: cover;
   background-position: center;
}
#jumbotron .container,
#logo-section,
#deploy-section,
#design-section,
#feautures-section,
#regions-section,
#get-satrted-section,
#development-section,
footer  {
   padding: 50px 10px 40px 10px;
}
#jumbotron-title h1 {
   color:white;
}
#jumbotron-title p {
   color: #90B0FF;
   font-size: 24px;
}

/* LOGIN CARD */
.card-bg {
   background-color: white;
   border-radius: 6px;
   padding: 20px 10px;
}
#login-card h2 {
   color: black;
}
#login-card h2:nth-child(2) {
   color: #056AFF;
}

#create-account-btn {
   color: white;
   background-color: #579AFF;
   margin-bottom: 10px;
}

#sign-google-btn {
   color: #6b6b6b;
   font-weight: bold;
   margin-bottom: 10px;
   border: 1px solid lightgray;
}
#sign-google-btn img {
   display: inline-block;
   height: 20px;
   float: left;
}

#login-card p {
   font-size: 12px;
   color: #8690A6;
}
#login-card p a {
   color: #056AFF;
   text-decoration: underline;
}
/* /LOGIN CARD */

/* /JUMBOTRON */


/* MAIN TOP */

/* logo section */
#logo-section {
   background-color: #F4F5F9;
}
#logo-section h2 {
   color: #6F7B97;
   font-size: 16px;
}

.list-logo li {
   width: calc(100% / 2 - 10px);
}
.list-logo li img {
   width: 100%;
}

.blue-arrow-link {
   color: #056AFF;
   font-size: 16px;
}

/* deploy section */
#deploy-section ul {
   list-style-type: none;
   padding-left: 10px;
   border-left: 1px solid #CCCCCC;
   font-size: 18px;
   color: #5C6A88;
   margin-bottom: 20px;
}

#deploy-section ul li {
   padding-bottom: 5px;
   padding-top: 5px;
}

#deploy-section h2 {
   color: black;
}

.section-title h2 {
   font-size: 36px;
}

.section-title p {
   font-size: 24px;
   margin-bottom: 60px;
}
.info-card {
   margin-bottom: 20px;
}

/* design section */
#design-section,
#development-section {
   background-color: #F4F5F9;
}

#design-section i {
   display:none;
}

#design-section img {
   width: 100%;
}

/* feature section  */
#feautures-section .section-title h2 {
   margin-bottom: 40px;
}

/* regions section and get-started section */
#regions-section,
#get-satrted-section {
   background-image: linear-gradient(to bottom, #0048C5 , #021E9A);
   color: white;
}

#regions-section h2,
#get-satrted-section h2 {
   font-size: 36px;
}

.regions-table  {
  font-size: 14px;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 10px;
}
.regions-table td {
  text-align: left;
  padding: 8px;
}
.regions-table td:last-child {
  text-align: right;
}
.regions-table td:nth-child(2) {
  color: #9EB1E1;
}
.regions-table tr:not(:last-child) {
   border-bottom: 1px solid white;
}
.regions-table .blue-arrow-link {
   color: #00c1ce;
   font-size: 14px;
}

#create-account-btn-white {
   color: #006AFF;
   background-color: white;
   font-size: 18px;
   margin: 20px 0;
   padding: 8px 15px;
}

/* FOOTER */

footer {
   background-color: #031C4E;
   color: #959DB1;
}

footer img {
   margin-bottom: 10px;
}
footer h4 {
   color: white;
}

.footer-list {
   list-style-type: none;
   padding-left: 0;
}
.footer-list li {
   padding: 5px 0;
}
.footer-list li a {
   color: #959DB1;
}

#copyright {
   margin-bottom: 0;
}
#made-in {
   color: #4D5B7F;
}

.list-icons i {
   color: #7A859D;
   font-size: 24px;
}









/* medium */
@media screen and (min-width: 992px) {

   /* FIXED NAVIGATION BAR */
   #menu-right,
   #menu-left  {
      display: block;
   }

   #collapse-icon {
      display: none;
   }
   #jumbotron .container,
   #logo-section,
   #deploy-section,
   #design-section,
   #feautures-section,
   #regions-section,
   #get-satrted-section,
   #development-section,
   footer  {
      padding: 50px 0 40px 0;
   }

   #jumbotron-title h1 {
      font-size: 72px;
   }




}

/* small */
@media screen and (min-width: 768px) {

   /* /FIXED NAVIGATION BAR */

   #design-section .row {
      height: 100%;
   }
   #design-section i {
      display: inline-block;
      font-size: 52px;
   }



   .list-logo li {
      width: calc(100% / 6 - 10px);
   }

   #deploy-section ul {
      margin-left: 30%;
   }


}
